asgiref==3.5.2
Django==4.1.4
django-cors-headers==3.13.0
django-requestlogs==0.7.1
django-session-timeout==0.1.0
djangorestframework==3.14.0
Pillow==9.3.0
python-dotenv==0.21.0
pytz==2022.6
six==1.16.0
sqlparse==0.4.3
tzdata==2022.7
